<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HealthCare ChatBot</title>
</head>
<body>
    <h1>Welcome to HealthCare ChatBot</h1>
    <form action="/result" method="POST">
        <label for="symptoms_exp">Enter your symptoms:</label><br>
        <input type="text" id="symptoms_exp" name="symptoms_exp"><br>
        <label for="num_days">Number of days you've experienced symptoms:</label><br>
        <input type="number" id="num_days" name="num_days"><br><br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>
